<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs')%>
    <style>
        td[data-due=true] {
            background-color: rgba(255, 0, 0, 0.3);
        }
    </style>
</head>

<body>
    <div class="content">
        <%-include('./partials/nav.ejs')%>
        <div class="main p-lr-10 p-tb-10 doc-width">
            <div class="main__content p-tb-10">
                <div class="flex justify-e flex-wrap p-lr-10 m-b-10">
                    <div class="search-form-wrap">
                        <form action="/admin/stacks" method="GET" class="flex align-c">
                            <div class="input-wrap" style="margin: 0;">
                                <div class="form-input__wrap">
                                    <label class="form-input__label">
                                        <input type="search" class="form-input" name="filter"
                                            title="Perform advanced search using [column]=[value] pair"
                                            placeholder="Search using [column]=[value] pair" value="<%=data.filter%>"
                                            style="height: unset; padding: 10px 15px; border-radius: 35px; font-size: 14px;"
                                            required>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn primary icon stroke-light m-l-10"
                                style="padding: 4px; width: 40px; height: 35px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="10" cy="10" r="7"></circle>
                                    <line x1="21" y1="21" x2="15" y2="15"></line>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="p-lr-10">
                    <div class="table-wrap table-striped table-responsive custom-scroll" style="margin-top: 0;">
                        <table class="table" style="font-size: 12px;" data-table-borrows>
                            <thead>
                                <tr>
                                    <th class="not-searchable">S/N</th>
                                    <th class="not-searchable">isbn</th>
                                    <th class="not-searchable">Title</th>
                                    <th class="not-searchable">Borrower</th>
                                    <th class="not-searchable">Authorized-By</th>
                                    <th>Created-At</th>
                                    <th>Return-At</th>
                                    <th>Is-Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% 
                                    for (let i = 0; i < data.borrows.length; i++) {
                                %>
                                <tr data-item-id="<%=data.borrows[i].id%>">
                                    <td><%=i+1%></td>
                                    <td><%=data.borrows[i].resource.isbn%></td>
                                    <td><%=data.borrows[i].resource.title%></td>
                                    <td><%=data.borrows[i].borrower.email%></td>
                                    <td><%=data.borrows[i].authorizedBy.email%></td>
                                    <td><%=data.formatDate(data.borrows[i].createdAt)%></td>
                                    <td><%=data.formatDate(data.borrows[i].returnAt)%></td>
                                    <td data-due="<%=(data.borrows[i].isDue === true && data.borrows[i].returned === false)%>"><%=data.borrows[i].isDue%></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%-include('./partials/footer.ejs')%>
    </div>
</body>

</html>